body {
  background: #167549;
  color: #fefbda;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  padding: 20px;
}

.importer {
  flex: 1;
  width: 33%;
  margin-right: 20px;

  &__textarea {
    min-height: 300px;
  }
}

.importer__form {
  display: flex;
  flex-direction: column;
}

.importer__header {
  font-size: 16px;
  margin: 0 0 20px 0;
}

.importer__button {
  background: #fefbda;
  color: #333;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  border: 0;
}

.button {
  background: #fefbda;
  display: inline-block;
  color: #333;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  border: 0;
  text-decoration: none;
}

.importer__checkbox {
  margin: 10px 0 0 0;

  input {
    margin-right: 4px;
    width: 24px;
    height: auto;
  }
}

.output-list {
  width: 67%;
  background: #fff;
  color: #333;
  flex: 2;
  padding: 20px;
  overflow-x: hidden;
}
